#container {
  border: inset 10px grey;
	background-color: lightgrey;
  height: 70vh;
}

.ball {
	border-radius: 100%;
	background-image: radial-gradient(at 25% 25%, white -15%, darkblue 50%);
	box-shadow: 5px 5px 5px #0005;
  height: 50px;
  width: 50px;
  position: relative;
	transform: translate(-25px, -25px);
}
