#container {
  border: inset 10px grey;
	background-color: lightgrey;
  height: 70vh;
}

.ball {
	border-radius: 100%;
	background-image: radial-gradient(at 25% 25%, blue, darkblue);
  height: 50px;
  width: 50px;
  position: relative;
}
